In [2]:
#Libraries
import pandas as pd
from collections import OrderedDict #to order the dictionary like the given example
import csv,json

In [3]:
#Use of pandas to visualize data in a friendly format
url='../db/landing/ecommerce/factory14/orders/839012383812.csv'

df=pd.read_csv(url)
df_columns=df.rename(columns={'_job_batch_id': 'daton_user_id', '_job_batch_runtime': 'daton_batch_runtime','_job_user_id':'daton_batch_id'})

df_columns

,daton_user_id,daton_batch_runtime,daton_batch_id,admin_graphql_api_id,app_id,billing_address,browser_ip,buyer_accepts_marketing,cancel_reason,cancelled_at,...,token,total_discounts,total_line_items_price,total_price,total_price_usd,total_tax,total_weight,transactions,updated_at,user_id
0,584,1630008352895,980,gid://ecommerce/Order/324000907291,580111,"[{""first_name"":""David"",""address1"":""14 Foxwood ...",108.46.161.60,True,NaN,NaN,...,0a2451c04db76d570c07698b12deaeb3,0.0,499.0,499.0,382.25,0.00,0,"[{""id"":3.77738559515E11,""order_id"":3.240009072...",2018-04-04T20:36:58,435234134
1,585,1630008352895,980,gid://ecommerce/Order/323187081243,580111,"[{""first_name"":""Ramesh"",""address1"":""Level 28, ...",210.10.226.130,True,NaN,NaN,...,42960f87ca9b8d6ad5b93a17ec8c8abe,0.0,499.0,499.0,382.25,45.36,0,"[{""id"":3.76813387803E11,""order_id"":3.231870812...",2018-04-16T19:42:40,124312312

In [303]:
url_csv='../db/landing/ecommerce/factory14/orders/839012383812.csv'
url_json='../extracts/839012383812_json.json'

result=OrderedDict()
data=[]

#Open CSV file. Only Read access.
with open(url_csv,'r') as csvFile:
    reader = csv.DictReader(csvFile)
    for row in reader:
            #Removes the metadata and saves it in a new index with the names that we need (the cols should always be the same).
            ## I use pop so the data_raw can have data of the rest of the columns, without the metadata
            ##it doesn't matter if the columns change.
        result["daton_user_id"] = row.pop('_job_batch_id')
        result["daton_batch_runtime"] = row.pop('_job_batch_runtime')
        result["daton_batch_id"] = row.pop('_job_user_id')
        result["creation_ts"] = row.pop('updated_at')
        result["data_raw"] = row

        #Order the dictionary so it can be like the example
        result.move_to_end('data_raw',last=False)
        data.append(result)

#Open TXT file. Write access. It starts appending the dictionaries in the first iteration.
with open(url_json,'w') as jsonFile:
    json.dump(data, jsonFile)

In [304]:
with open('../extracts/839012383812_json.json') as f:
    data = json.loads(f.read())

df = pd.json_normalize(data)


df.head()

,daton_user_id,daton_batch_runtime,daton_batch_id,creation_ts,data_raw.admin_graphql_api_id,data_raw.app_id,data_raw.billing_address,data_raw.browser_ip,data_raw.buyer_accepts_marketing,data_raw.cancel_reason,...,data_raw.test,data_raw.token,data_raw.total_discounts,data_raw.total_line_items_price,data_raw.total_price,data_raw.total_price_usd,data_raw.total_tax,data_raw.total_weight,data_raw.transactions,data_raw.user_id
0,585,1630008352895,980,2018-04-16T19:42:40,gid://ecommerce/Order/323187081243,580111,"[{""first_name"":""Ramesh"",""address1"":""Level 28, ...",210.10.226.130,True,,...,False,42960f87ca9b8d6ad5b93a17ec8c8abe,0.0,499.0,499.0,382.25,45.36,0,"[{""id"":3.76813387803E11,""order_id"":3.231870812...",124312312
1,585,1630008352895,980,2018-04-16T19:42:40,gid://ecommerce/Order/323187081243,580111,"[{""first_name"":""Ramesh"",""address1"":""Level 28, ...",210.10.226.130,True,,...,False,42960f87ca9b8d6ad5b93a17ec8c8abe,0.0,499.0,499.0,382.25,45.36,0,"[{""id"":3.76813387803E11,""order_id"":3.231870812...",124312312